@model UserViewModel

@{
    ViewData["Title"] = "Index";
}

<div>
    @if (Model.AvatarPath != null)
    {
        <img src="avatar?avatarPath=@Model.AvatarPath" alt="Avatar" width="200" />
    }
    <p>
        @Model.Name
    </p>
    <p>
        @Model.Email
    </p>
    <form asp-controller="Account" asp-action="Logout" method="get">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>

