@model UserViewModel

@{
    ViewData["Title"] = "Index";
}

<div>
    @if (Model.AvatarPath != null)
    {
        <img src="account/avatar?avatarPath=@Model.AvatarPath" alt="Avatar" width="200" />
    }
    <p>
        Name: @Model.Name
    </p>
    <p>
        Email: @Model.Email
    </p>
    <p>Roles:</p>
    <ul>
        @foreach (var role in Model.Roles)
        {
            <li>
                @role
            </li>
        }
    </ul>
    <form asp-controller="Account" asp-action="Logout" method="get">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>

