@model QuestionDetailsViewModel?

@if (Model == null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
    <div>Not Found</div>
}
else
{
    <h1>@Model.Id. @Model.Title</h1>
    <ul>
        @foreach (var answer in Model.Answers)
        {
            @if (answer == Model.CorrectAnswerTitle)
            {
                <li>@answer <b>CORRECT</b></li>
            } else {
                <li>@answer</li>
            }
        }
    </ul>
}